################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssetMangement.sln
# Ignore bin and obj folders
# Ignore build artifacts and temporary files
**/bin/
**/obj/
*.pdb